# Ignore maven built artifacts
.settings
.classpath
.project
target


*.iml
.idea
.project
.settings

# Ignore user specific files and folders of Xcode 
/bluecove/src/main/c/intelbth/bluecove.xcodeproj/project.xcworkspace
